{{#if errorMessage}}
    <div style="color: red; margin-bottom: 10px;">{{errorMessage}}</div>
{{/if}}


<h1>Welcome to {{name}}'s profile page!</h1>



<div class="container-lg">
    <div class="row justify-content-center">
        <div class="col-md-5 text-center d-none d-md-block px-4">
        <img class ="img-fluid" src="/{{photo}}" alt="Profile Picture">
          
      </div>
      <div class="col-md-5 text-center text-md-start">
        <h1>
          {{!-- <div class = "display-4">Welcome to Pawpal</div> --}}
          <div class = "display-6 "> About </div>
              </h1>
             <p class ="lead my-4">
              <strong>Name:</strong> {{name}}<br>
             <strong>Email:</strong> {{email}}<br>
           <strong>Location:</strong> {{location}}<br>
          
        </p>
      </div>
    
    </div>
  </div>


 <section id="AboutMe" class="mt-5 pb-3">
        <div class="container-lg">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="text-center">
                        <h2 class="mt-4">About Me</h2>
                    </div>
                     <p class ="lead my-4">
                    {{about}}
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </section>




 <section id="Reviews" class="mt-5 pb-3">
        <div class="container-lg">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="text-center">
                        <h2>User Reviews</h2>
                    </div>
                    {{#each reviews}}
                     <p class ="lead my-4">
                        <strong>Comment by:</strong> {{this.author.username}}<br>
                        <strong>Content:</strong> {{this.content}}<br>
                        <strong>Rating:</strong> {{this.rating}}/5<br>
                        <br>
                     {{/each}}
                    
                        {{#if reviews}}
                        
                        
                        {{else}}
                            <p>No comments available.</p>
                        {{/if}}
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



 <section id="AboutMe" class="mt-5 pb-3">
        <div class="container-lg">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="text-center">
                         <h2>Leave a Comment</h2>
                    </div>
                   <div>
   
        <form action="/profile/{{username}}/comment" method="POST">
            <div>
                <label for="content">Comment:</label><br>
                <textarea name="content" id="content" rows="4" cols="50" required></textarea>
            </div>
            <div>
                <label for="rating">Rating:</label><br>
                <select name="rating" id="rating" required>
                    <option value="1">1 Star</option>
                    <option value="2">2 Stars</option>
                    <option value="3">3 Stars</option>
                    <option value="4">4 Stars</option>
                    <option value="5">5 Stars</option>
                </select>
            </div>
            <div>
                <button type="submit">Submit Comment</button>
            </div>
        </form>
    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <!-- Comment Form -->
    




