<h1>{{pet.name}}'s Profile</h1>
{{#if pet.photo}}
<img src="/{{pet.photo}}" alt="User profile photo">
{{/if}}
<p><strong>Animal:</strong> {{pet.animal}}</p>
<p><strong>Breed:</strong> {{pet.breed}}</p>
<p><strong>Age:</strong> {{pet.age}}</p>
<p><strong>Temperament:</strong> {{pet.temperament}}</p>
<p><strong>About:</strong> {{pet.about}}</p>
<p><strong>Health and Diet:</strong> {{pet.healthAndDiet}}</p>

