<!-- Pet Profile Details -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- Pet Image Section -->
      <div class="border rounded shadow-sm p-3" style="background-color: #3b82f680; color:white">
        <h3>{{pet.name}}'s Profile</h3>
        <img class="img-fluid rounded" src="{{pet.photo}}" alt="{{pet.name}}">
      </div>

      <!-- General Info Section -->
      <div class="border rounded shadow-sm p-3 mt-3" style="background-color: #3b82f680;color: white;">
        <h3>Details</h3>
        <p class="lead">
          <strong>Animal:</strong> {{pet.animal}}<br>
          <strong>Breed:</strong> {{pet.breed}}<br>
          <strong>Age:</strong> {{pet.age}}<br>
          <strong>Temperament:</strong> {{pet.temperament}}<br>
          <strong>Health and Diet:</strong> {{pet.healthAndDiet}}<br>
        </p>
      </div>

      <!-- Section for pet's owner -->
      <div class="border rounded shadow-sm p-3 mt-3" style="background-color: white;">
        <h3>My Parent</h3>
        <p class="lead">
          {{#if pet.owner}}
            <h5>{{pet.owner.name}}</h5>

            {{#if pet.owner.photo}}
              <a href="/profile/{{pet.owner.username}}">
                <img src="{{pet.owner.photo}}" alt="{{pet.owner.name}}" class="img-fluid" style="width: 180px; height: 180px; border-radius: 50%; object-fit: cover;">
              </a>
            {{else}}
              <p>No photo available.</p>
            {{/if}}
          {{else}}
            <p>No owner information available.</p>
          {{/if}}
        </p>
      </div>
    </div>

    <!-- Right column (8 units) -->
    <div class="col-md-8">
      <!-- Section for 'About me' -->
      <div class="border rounded shadow-sm p-3 mt-3" style="background-color: white;">
        <h3>About Me</h3>
        <p class="lead">{{pet.about}}</p>
      </div>

      <!-- Section for 'User Reviews' -->
      <div class="border rounded shadow-sm p-3 mt-3" style="background-color: white;">
        <div class="mt-3">
          <h3>Pet Reviews</h3>
          {{#each pet.comments}}
            <div class="border rounded shadow-sm p-3 my-3" style="background-color: white;">
              <p class="lead">
                <strong>Comment by:</strong> {{this.author.username}}<br>
                <strong>Content:</strong> {{this.content}}<br>
                <strong>Rating:</strong> {{this.rating}}/5
              </p>
            </div>
          {{/each}}
        </div>
      </div>

      <!-- Section for 'Leave a Review' -->
      <div class="border rounded shadow-sm p-3 mt-3" style="background-color: white;">
        <h3>Leave a Review</h3>
        <form action="/pet/{{pet._id}}/comment" method="POST">
          <div>
            <p class="lead">
              <label for="content">Comment:</label><br>
              <textarea name="content" id="content" rows="4" cols="50" required></textarea>
          </div>
          <div>
            <label for="rating">
              <p class="lead">Rating:</p></label><br>
            <select name="rating" id="rating" required>
              <option value="1">1 Star</option>
              <option value="2">2 Stars</option>
              <option value="3">3 Stars</option>
              <option value="4">4 Stars</option>
              <option value="5">5 Stars</option>
            </select>
          </div>
          <div>
            <br>
            <button type="submit" class="btn btn-primary"> Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>