<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    {{#if errorMessage}}
        <div style="color: red; margin-bottom: 10px;">{{errorMessage}}</div>
    {{else}}

        <div class="container" style="background-color: rgba(255, 255, 255, 0.7);">
            <form action="/auth/pet-profile" method="POST" enctype="multipart/form-data">
                <!-- Row 1 -->
                <div class="row justify-content-center">
                    <div class="col-12-md-8 pb-5">
                        <div class="display-6 text-muted">Pet Profile</div>
                    </div>
                </div>
                <!-- Row 2 -->
                <div class="row">
                    <div class="col-auto">
                        <h5>Pet Image</h5>
                        <img class="img-fluid rounded" style="max-width: 350px;" src="{{ pet.photo }}" alt="Pet Photo">
                        <br>   <a href="/pet/{{pet._id}}" > My Public Profile </a>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-3">
                            <div class="text-start">
                                <h5 class="mt-4 fs-6 pb-3">Upload Photo</h5>
                                <p>Upload your pet's photo in PNG or JPG format.</p>
                                <input type="file" id="photo" name="photo">
                            </div>
                        </div>
                    </div>   
                </div>
                <!-- Row 3 -->
                <div class="row">
                    <div class="col mt-4">
                        <h5>Pet Name</h5>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Pet Name" id="name" name="name" value="{{ pet.name }}" aria-label="Pet Name" aria-describedby="basic-addon1" required>
                        </div>
                    </div>
                </div>
                <!-- Row 4 -->
                <div class="row">
                    <div class="col">
                        <h5>Pet Animal</h5>
                        <div class="input-group mb-3">
                            <select class="form-select" name="animal" id="animal" required>
                                <option value="Dog" {{#if (eq pet.animal "Dog")}}selected{{/if}}>Dog</option>
                                <option value="Cat" {{#if (eq pet.animal "Cat")}}selected{{/if}}>Cat</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Row 5 -->
                <div class="row">
                    <div class="col">
                        <h5>Pet Breed</h5>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Breed" id="breed" name="breed" value="{{ pet.breed }}">
                        </div>
                    </div>
                </div>
                <!-- Row 6 -->
                <div class="row">
                    <div class="col">
                        <h5>Pet Age</h5>
                        <div class="text-start mb-3">
                            <input type="number" class="form-control" placeholder="Age" id="age" name="age" value="{{ pet.age }}">
                        </div>
                    </div>
                </div>
                <!-- Row 7 -->
                <div class="row">
                    <div class="col">
                        <h5>Pet Temperament</h5>
                        <div class="text-start mb-3">
                            <select class="form-select" name="temperament" id="temperament" required>
                                <option value="Playful" {{#if (eq pet.temperament "Playful")}}selected{{/if}}>Playful</option>
                                <option value="Energetic" {{#if (eq pet.temperament "Energetic")}}selected{{/if}}>Energetic</option>
                                <option value="Couch Potato" {{#if (eq pet.temperament "Couch Potato")}}selected{{/if}}>Couch Potato</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Row Location -->
                <div class="row">
                    <div class="col">
                        <h5>Location</h5>
                        <div class="text-start mb-3">
                            <select class="form-select" name="location" id="location" required>
                                <option value="Amsterdam" {{#if (eq pet.location "Amsterdam")}}selected{{/if}}>Amsterdam</option>
                                <option value="Berlin" {{#if (eq pet.location  "Berlin")}}selected{{/if}}>Berlin</option>
                                <option value="Lisbon" {{#if (eq pet.location  "Lisbon")}}selected{{/if}}>Lisbon</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Row 8 -->
                <div class="row">
                    <div class="col">
                        <div class="text-start mb-3">
                            <h5 class="mb-3">About Your Pet</h5>
                            <textarea class="form-control" placeholder="Tell us about your pet" id="about" name="about" style="height: 100px">{{ pet.about }}</textarea>
                        </div>
                    </div>
                </div>
                
                <!-- Row 09 -->
                <div class="row">
                  <div class="col">
                    <div class="mt-2 d-flex justify-content-end">
                    <input type="hidden" id="_id" name="_id" value="{{pet._id}}"/>
                      <button type="submit" class="btn btn-primary">Save</button>
                      <a href="/auth/delete-pet/{{pet._id}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this pet?')">Delete Pet</a>
                    </div>
                  </div>
                </div>
            </form>
        </div>

    {{/if}}

    <!-- Additional Content... -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>

</body>
</html>


