<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/pawpal/public/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    {{#if errorMessage}}
    <div style="color: red; margin-bottom: 10px;">{{errorMessage}}</div>
{{else}}


{{#if username}}


<div class="container-lg">
    <div class="row justify-content-center">
        <div class="col-md-8 pb-5">
            <h1 class="d-flex justify-content-center align-items-center">
                <div class="display-6 text-muted">Welcome to your personal profile page {{username}}</div>
            </h1>
        </div>
    </div>
</div>

<form action="/update-profile" method="POST" enctype="multipart/form-data">
    <div class="container-lg">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5 text-center d-none d-md-block px-4">
                <img class="img-fluid" src="/{{photo}}" alt="Profile Picture">
                <p class="text-muted pt-3 justify-content-start">
                    <label for="photo">Upload Photo:</label>
                    <input type="file" id="photo" name="photo">
                </p>
            </div>
            <div class="col-md-5 text-center text-md-start">
                <h2 class="mt-4 fs-8 pb-3">Basic Info</h2>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Username</span>
                    <input type="text" class="form-control" placeholder="Username" id="username" name="username" value="{{username}}" aria-label="Username" aria-describedby="basic-addon1">
                </div>


                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                    <input type="text" class="form-control" placeholder="Email" id="email" name="email" value="{{email}}" aria-label="Email" aria-describedby="basic-addon1" required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Name</span>
                    <input type="text" class="form-control" placeholder="Name" id="name" name="name" value="{{name}}" aria-label="Name" aria-describedby="basic-addon1" required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Location</span>
                    <input type="text" class="form-control" placeholder="Location" id="location" name="location" value="{{location}}" aria-label="Location" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
    </div>

    <section id="Role" class="mt-5 pb-3">
        <div class="container-lg">
            <div class="text-start">
                <h2 class="mt-4 fs-8 pb-3">Role</h2>
                <input type="checkbox" id="Pet Sitter" name="role" value="Pet Sitter">
                <label for="Pet Sitter">Pet Sitter</label>
                <input type="checkbox" id="Pet Owner" name="role" value="Pet Owner">
                <label for="Pet Owner">Pet Owner</label>
            </div>
        </div>
    </section>

    <section id="Services" class="mt-5 pb-3">
        <div class="container-lg">
            <div class="text-start">
                <h2 class="mt-4 fs-8 pb-3">Services</h2>
                <input type="checkbox" id="Pet Boarding" name="services" value="Pet Boarding">
                <label for="Pet Boarding">Pet Boarding</label>
                <input type="checkbox" id="Dog Walking" name="services" value="Dog Walking">
                <label for="Dog Walking">Dog Walking</label>
                <input type="checkbox" id="Pet Sitting" name="services" value="Pet Sitting">
                <label for="Pet Sitting">Pet Sitting</label>
            </div>
        </div>
    </section>

    <section id="AboutMe" class="mt-5 pb-3">
        <div class="container-lg">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="text-center">
                        <h2 class="mt-4">About Me</h2>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Tell us about yourself" id="floatingTextarea2" name="about" style="height: 100px">{{about}}</textarea>
                        <label for="floatingTextarea2">About Me</label>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="Update" class="mt-5 pb-3">
        <div class="container-lg">
            <div class="text-center">
                <h2 class="mt-4">Update Profile</h2>
                <button type="submit">Update</button>
            </div>
        </div>
    </section>

</form>


{{else}}
<p>Still not logged in, sorry!</p>

{{/if}}


<section id="Comments" class="mt-5 pb-3">
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="text-center">
                    <h2>{{username}}'s Comments</h2>
                </div>
                <div class="form-floating">
                  <ul>
                        {{#each comments}}
                         <li>
                               <strong>Author:</strong> {{this.author.username}}<br>
                                  <strong>Comment:</strong> {{this.content}}<br>
                              <strong>Rating:</strong> {{this.rating}}/5<br>
      
                         </li>
                         {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>






 <section id="MyPets" class="mt-5 pb-3">
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="text-center">
                     <h2>{{username}}'s Pets</h2>
                              <button type="button" onclick="window.location.href='/auth/pet-signup'">Register a Pet</button>

                </div>
                         <ul>
                            {{#each pets}}
                                <li>
                                    <strong>Name:</strong> {{this.name}}<br>
                                    <strong>Animal:</strong> {{this.animal}}<br>
                                    <strong>Breed:</strong> {{this.breed}}<br>
                                    {{#if this.photo}}
                                    <a href="auth/pet-profile/{{this._id}}"> 
                                        <img src="/{{this.photo}}" alt="{{this.name}}" style="width: 100px; height: 100px;">
                                        </a>
                                    {{else}}
                                        <p>No photo available.</p>
                                    {{/if}}
                                </li>
                            {{/each}}
                        </ul>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</section>








       
  
 
