{{#if errorMessage}}
    <div style="color: red; margin-bottom: 10px;">{{errorMessage}}</div>
{{else}}
    {{#if username}}
    <h1>Welcome to your profile page {{username}}!</h1>
        <img src="/{{photo}}" alt="Profile Picture" style="width: 300px; height: 400px;">
    {{else}}
        <p>Still not logged in, sorry!</p>
    {{/if}}

    <form action="/update-profile" method="POST" enctype="multipart/form-data">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{username}}" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{email}}" required>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{name}}" required>

        <label for="location">Location:</label>
        <input type="text" id="location" name="location" value="{{location}}">

        <label for="photo">Upload Photo:</label>
        <input type="file" id="photo" name="photo">

          <label for="name">About:</label>
        <input type="text" id="about" name="about" value="{{about}}">

   
        <input type="checkbox" id="Pet Sitter" name="role" value="Pet Sitter">
        <label for="Pet Sitter">Pet Sitter</label>
 
        <input type="checkbox" id="Pet Owner" name="role" value="Pet Owner">
        <label for="Pet Owner">Pet Owner</label>
    

        <button type="button" onclick="window.location.href='/auth/pet-signup'">Register a Pet</button>

        <button type="submit">Update Profile</button>
    </form>

    <h2>{{username}}'s Pets</h2>
    <ul>
        {{#each pets}}
            <li>
                <strong>Name:</strong> {{this.name}}<br>
                <strong>Animal:</strong> {{this.animal}}<br>
                <strong>Breed:</strong> {{this.breed}}<br>
                {{#if this.photo}}
            //     <a href="auth/pet-profile/{{this._id}}"> 
                    <img src="/{{this.photo}}" alt="{{this.name}}" style="width: 100px; height: 100px;">
                    </a>
                {{else}}
                    <p>No photo available.</p>
                {{/if}}
            </li>
        {{/each}}
    </ul>
{{/if}}
