<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    {{#if errorMessage}}
    <div style="color: red; margin-bottom: 10px;">{{errorMessage}}</div>
{{else}}




<div class="container">
    <form action="/update-profile" method="POST" enctype="multipart/form-data">
        <!-- Row 1 -->
        <div class="row justify-content-center">
            <div class="col-12-md-8 pb-5">
                <div class="display-6 text-muted">Welcome {{ name }}</div>
            </div>
        </div>
        <!-- Row 2 -->
        <div class="row">
            <div class="col-auto">
                <h5>Profile image</h5>
                <img class="img-fluid rounded" style="max-width: 350px;" src="/{{ photo }}" alt="Profile Picture"> <!-- Column 1, Row 2 -->
            </div>
            <div class="col-auto"> <!-- Column 2, Row 2 -->
                <div class="input-group mb-3">
                    <div class="text-start">
                        <h5 class="mt-4 fs-6 pb-3">Photo</h5>
                        <p>Upload your photo in PNG or JPG format.</p>
                        <input type="file" id="photo" name="photo">
                    </div>
                </div>
            </div>   
        </div>
        <!-- Row 3 -->
        <div class="row">
            <div class="col mt-4">
                <h5>Full name</h5>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Name" id="name" name="name" value="{{ name }}" aria-label="Name" aria-describedby="basic-addon1" required>
                </div>
            </div>
        </div>
        <!-- Row 4 -->
        <div class="row">
            <div class="col">
                <h5>Username</h5>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Username" id="username" name="username" value="{{ username }}" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <!-- Row 5 -->
        <div class="row">
            <div class="col">
                <h5>Email</h5>
                <div class="input-group mb-3 ">
                    <input type="text" class="form-control" placeholder="Email" id="email" name="email" value="{{ email }}" aria-label="Email" aria-describedby="basic-addon1" required>
                </div>
            </div>
        </div>
        <!-- Row 6 -->
        <div class="row">
            <div class="col">
                <h5>Location</h5>
                <div class="input-group mb-3 bg-light ">
                    <input type="text" class="form-control" placeholder="Location" id="location" name="location" value="{{ location }}" aria-label="Location" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <!-- Row 7 -->
        <div class="row">
            <div class="col">
                <div class="text-start mb-3">
                    <h5 class="mb-3">Which services do you offer?</h5>
                    <input type="checkbox"class="form-check-input"  id="Pet Boarding" name="services" value="Pet Boarding">
                    <label for="Pet Boarding">Pet Boarding</label>
                    <input type="checkbox" class="form-check-input" id="Dog Walking" name="services" value="Dog Walking">
                    <label for="Dog Walking">Dog Walking</label>
                    <input type="checkbox" class="form-check-input" id="Pet Sitting" name="services" value="Pet Sitting">
                    <label for="Pet Sitting">Pet Sitting</label>
                </div>
            </div>
        </div>
        <!-- Row 8 -->
        <div class="row">
            <div class="col">    
                <div class="text-start mb-3">
                    <h5 class="mb-3">Select your role</h5>
                    <input  class="form-check-input"  type="checkbox" id="Pet Sitter" name="role" value="Pet Sitter">
                    <label for="Pet Sitter">Pet Sitter</label>
                    <input class="form-check-input"  type="checkbox" id="Pet Owner" name="role" value="Pet Owner">
                    <label for="Pet Owner">Pet Owner</label>
                </div>
            </div>
        </div>
        <!-- Row 9 -->
        <div class="row">
            <div class="col">
                <div class="form-floating mt-">
                    <h5>About me</h5>
                    <textarea class="form-control " placeholder="Tell us about yourself" id="floatingTextarea2" name="about" style="height: 100px">{{ about }}</textarea>
                
                </div>
            </div>
        </div>
        <!-- Row 10 -->
       <div class="row">
    <div class="col">
        <div class="mt-2 d-flex justify-content-end"> 
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>
    </form>
</div>




{{#if username}}



{{else}}
<p>Still not logged in, sorry!</p>


{{/if}}


 <div class="row justify-content-center">
            <div class="col-12-md-8 pb-5">
                <div class="display-6 text-muted">Your pets</div>
            </div>
        </div>



 <div class="row justify-content-center">
                </div>
             
                            {{#each pets}}
                             
                                    <h5>{{this.name}}</h5>
                      
                                    {{#if this.photo}}
                                    <p>
                                        <img src="/{{this.photo}}" alt="{{this.name}}" class="img-fluid rounded" style="max-width: 200px;">
                                    </p>
                                    {{else}}
                                        <p>No photo available.</p>
                                    {{/if}}

                                    <p>
                                    <button onclick="location.href = '/auth/pet-profile/{{this._id}}'" class="btn btn-primary">Edit Pet Profile</button>
                                   
                                    </p>
                        
                            {{/each}}
                  
                    {{/if}}

                    <button type="button"class="btn btn-primary" onclick="window.location.href='/auth/pet-signup'">Register a Pet</button>
                </div>

            

            </div>
        </div>
    </div>
    </div>
</section>






</body>
  
 
